<template>
  <VForm enctype="multipart/form-data" @submit.prevent="onSubmit">
    <VContainer>
      <VRow justify="center">
        <VCol cols="6">
          <VTextField id="lab-name" v-model="form.title" label="Назва" />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VCol cols="6">
          <VAutocomplete
            v-if="faculties"
            v-model="form.faculty"
            :items="faculties"
            item-text="name"
            item-value="id"
            label="Факультет"
          />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VCol cols="6">
          <VAutocomplete
            v-if="specialties"
            v-model="form.specialty"
            :items="specialtiesBySelectedFaculty"
            item-text="name"
            item-value="id"
            label="Спеціальність"
          />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VCol cols="6">
          <VAutocomplete
            v-if="subjects"
            v-model="form.subject"
            :items="subjectsBySelectedSpecialty"
            item-text="name"
            item-value="id"
            label="Предмет"
          />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VCol cols="6">
          <VTextField id="year" v-model="form.year" label="Рік" />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VCol cols="6">
          <VTextarea id="description" v-model="form.description" label="Опис" />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VCol cols="6">
          <VFileInput
            accept=".docx, .pdf"
            label="Файл"
            @change="onFileInputChange"
          />
        </VCol>
      </VRow>
      <VRow justify="center">
        <VBtn
          :loading="isLoading"
          color="primary"
          type="submit"
          class="align-self-center"
          >Завантажити</VBtn
        >
      </VRow>
    </VContainer>
  </VForm>
</template>

<script>
import { mapState } from 'vuex'

import { loadTask } from '@/api/data'

export default {
  name: 'FormUploadLab',
  data() {
    return {
      isLoading: false,
      file: null,
      form: {
        title: '',
        faculty: '',
        specialty: '',
        subject: '',
        year: '',
        description: '',
      },
    }
  },
  computed: {
    ...mapState('data', {
      faculties: 'faculties',
      specialties: 'specialties',
      subjects: 'subjects',
    }),
    specialtiesBySelectedFaculty() {
      return this.specialties.filter(
        (specialty) => specialty.facultyId === this.form.faculty
      )
    },
    subjectsBySelectedSpecialty() {
      return this.subjects.filter((subject) =>
        subject.specialtyId.includes(this.form.specialty)
      )
    },
  },
  methods: {
    async onSubmit() {
      try {
        this.isLoading = true
        const formData = new FormData()
        formData.append('file', this.file)
        formData.append('task', JSON.stringify(this.form))
        await loadTask(formData)
        await this.$router.push({ name: 'home' })
      } catch (e) {
        console.log(e)
      } finally {
        this.isLoading = false
      }
    },
    onFileInputChange(file) {
      this.file = file
    },
  },
}
</script>
