<template>
  <VForm @submit.prevent="$emit('submit')">
    <VSelect
      v-model="form.reason"
      :items="reportReasons"
      label="Причина скарги"
    />
    <VBtn color="primary" text @click="$emit('cancel')">Скасувати</VBtn>
    <VBtn color="primary" text type="submit" :disabled="!form.reason"
      >Відправити</VBtn
    >
  </VForm>
</template>

<script>
export default {
  name: 'FormSendReport',
  data() {
    return {
      form: {
        reason: '',
      },
      reportReasons: ['Дублікат', 'Невідповідність контенту'],
    }
  },
}
</script>
