<template>
  <VForm @submit.prevent="loadTasks">
    <VContainer>
      <VRow class="mb-4">
        <VCol cols="12" class="d-flex align-center">
          <VTextField
            placeholder="ФЛП. Лабораторна робота №1"
            label="Назва"
            @input="onInput"
          />

          <VBtn class="ml-8" color="primary" type="submit">Пошук</VBtn>
        </VCol>
      </VRow>

      <div v-if="filters.length">
        Фільтри:
        <VRow class="d-flex flex-direction-column">
          <VCol v-for="filter in filters" :key="filter.id" cols="4">
            <VSelect
              :items="filter.options"
              :label="filter.name"
              item-text="name"
              item-value="id"
              multiple
              @input="onSelect"
            />
          </VCol>
        </VRow>
      </div>
    </VContainer>
  </VForm>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Search',
  data() {
    return {
      inputValue: null,
      userFilters: {},
      selectedOnce: false,
    }
  },
  computed: {
    ...mapState('auth', {
      user: 'user',
    }),
    ...mapState('data', {
      faculties: 'faculties',
      specialties: 'specialties',
    }),
    ...mapState('search/filters', {
      filters: 'filters',
    }),
  },
  async created() {
    await this.loadTasks()
  },
  methods: {
    ...mapActions({
      loadTasks: 'search/loadTasks',
      updateSelectedFilters: 'search/filters/updateSelectedFilters',
    }),
    onSelect(v) {
      this.selectedOnce = true
      this.selectFilter(v)
    },
    async selectFilter(filterIds) {
      const selectedOptions = filterIds.map((filterId) => {
        const nextFilterId =
          typeof filterId === 'object' ? filterId.id : filterId
        const optionFilter = this.filters.find((filter) =>
          filter.options.some((option) => option.id === nextFilterId)
        )

        return {
          optionId: nextFilterId,
          id: optionFilter.id,
        }
      })

      await this.updateSelectedFilters(selectedOptions)
    },
    onInput(v) {
      this.$store.commit('search/setInput', v)
    },
  },
}
</script>
