<template>
  <div class="page-registration">
    <VForm class="page-registration__form" @submit.prevent="onSubmit">
      <VContainer>
        <VRow justify="center">
          <VCol cols="6">
            <VTextField
              id="email"
              v-model="form.email"
              label="Пошта"
              type="email"
            />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol cols="6">
            <VTextField
              id="password"
              v-model="form.password"
              label="Пароль"
              type="password"
            />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol cols="6">
            <VTextField id="nickname" v-model="form.username" label="Нікнейм" />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol cols="6">
            <VSelect
              v-if="faculties"
              v-model="form.faculty"
              label="Факультет"
              :items="faculties"
              item-text="name"
              item-value="id"
            />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol cols="6">
            <VSelect
              v-if="specialtiesBySelectedFaculty"
              v-model="form.specialty"
              :items="specialtiesBySelectedFaculty"
              item-text="name"
              item-value="id"
              label="Спеціальність"
            />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol cols="2">
            <VBtn color="primary" type="submit">Зареєструватися</VBtn>
          </VCol>
        </VRow>
      </VContainer>
    </VForm>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import { register } from '@/api/auth'

export default {
  name: 'PageRegistration',
  data() {
    return {
      form: {
        email: null,
        password: null,
        username: null,
        faculty: null,
        specialty: null,
      },
    }
  },
  computed: {
    ...mapState('data', {
      faculties: 'faculties',
      specialties: 'specialties',
    }),
    specialtiesBySelectedFaculty() {
      return this.specialties.filter(
        (specialty) => specialty.facultyId === this.form.faculty
      )
    },
  },
  methods: {
    async onSubmit() {
      try {
        await register(this.form)
        await this.$router.push({ name: 'authorization' })
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.page-registration {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    max-width: 900px;
    flex-grow: 1;
  }
}
</style>
