<template>
  <VContainer v-if="lab && faculties" class="pt-8">
    <h2 class="mb-2">{{ lab.title }}</h2>
    <VRow no-gutters>
      <VCol>
        <div class="mb-4">
          <div>
            <span class="font-weight-medium">Факультет: </span>
            {{ shownFaculty }}
          </div>
          <div>
            <span class="font-weight-medium">Спеціальність: </span>
            {{ shownSpecialty }}
          </div>
          <div class="mb-4">
            <span class="font-weight-medium">Предмет: </span>
            {{ shownSubject }}
          </div>
          <div>
            <span class="font-weight-medium">Автор: </span>
            {{ lab.username }}
          </div>
        </div>
      </VCol>
      <VCol cols="12" md="auto" class="mb-6 mb-md-0">
        <div class="mb-2 text-md-right">
          <VBtn text @click="likeLab">
            <VIcon :color="isLiked ? 'success' : ''" left>mdi-thumb-up</VIcon>
            {{ likesCount }}
          </VBtn>
          <VDialog v-model="sendReportFormVisible" max-width="600px">
            <template #activator="{ attrs, on }">
              <VBtn v-bind="attrs" text v-on="on">
                <VIcon>mdi-flag</VIcon>
              </VBtn>
            </template>
            <VCard>
              <VCardTitle>Поскаржитися</VCardTitle>
              <VCardText>
                <FormSendReport
                  @submit="closeSendReportForm"
                  @cancel="closeSendReportForm"
                />
              </VCardText>
            </VCard>
          </VDialog>
        </div>
        <VBtn color="primary" :loading="isLoading" @click="downloadLab"
          >Завантажити</VBtn
        >
      </VCol>
    </VRow>
    <template v-if="lab.description">
      <h3 class="mb-2">Опис</h3>
      <span class="description">{{ lab.description }}</span>
    </template>
  </VContainer>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import { fetchTaskDownloadLink, likeTask, fetchTask } from '@/api/data'

import FormSendReport from '@/components/containers/FormSendReport'

export default {
  name: 'PageLab',
  components: {
    FormSendReport,
  },
  props: {
    id: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      sendReportFormVisible: false,
      isLoading: false,
      lab: null,
    }
  },
  computed: {
    ...mapState('data', {
      faculties: 'faculties',
      specialties: 'specialties',
      subjects: 'subjects',
    }),
    ...mapGetters('auth', { userId: 'userId' }),
    likesCount() {
      return this.lab.likedIds.length
    },
    isLiked() {
      return this.lab.likedIds.includes(this.userId)
    },
    shownFaculty() {
      return this.faculties.find((faculty) => faculty.id === this.lab.faculty)
        .name
    },
    shownSpecialty() {
      return this.specialties.find(
        (specialty) => specialty.id === this.lab.specialty
      ).name
    },
    shownSubject() {
      return this.subjects.find((subject) => subject.id === this.lab.subject)
        .name
    },
  },
  async created() {
    const { data } = await fetchTask({ params: { id: this.id } })
    this.lab = data
  },
  methods: {
    closeSendReportForm() {
      this.sendReportFormVisible = false
    },
    async downloadLab() {
      this.isLoading = true
      const fetchedLink = await fetchTaskDownloadLink({
        params: { id: this.id },
      })
      const link = fetchedLink.data
      window.open(link, '_blank')
      this.isLoading = false
    },
    likeLab() {
      this.isLiked
        ? (this.lab.likedIds = this.lab.likedIds.filter(
            (id) => id !== this.userId
          ))
        : this.lab.likedIds.push(this.userId)
      likeTask({ userId: this.userId, taskId: this.id })
    },
  },
}
</script>

<style lang="scss" scoped>
.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
