<template>
  <div class="page-authorization">
    <VForm class="page-authorization__form" @submit.prevent="onAuthorize">
      <VContainer>
        <VRow justify="center">
          <VCol cols="6">
            <VTextField
              id="email"
              v-model="form.email"
              label="Пошта"
              type="email"
            />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol cols="6">
            <VTextField
              v-model="form.password"
              label="Пароль"
              type="password"
            />
          </VCol>
        </VRow>

        <VRow justify="center">
          <VCol class="d-flex" cols="3">
            <VBtn class="flex-grow-1" color="primary" type="submit"
              >Авторизуватися</VBtn
            >
          </VCol>
        </VRow>
      </VContainer>
    </VForm>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PageAuthorization',
  data() {
    return {
      form: {
        email: null,
        password: null,
      },
    }
  },
  methods: {
    ...mapActions('auth', {
      authorize: 'authorize',
    }),
    async onAuthorize() {
      try {
        await this.authorize(this.form)
        await this.$router.push({ name: 'home' })
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.page-authorization {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    max-width: 900px;
    flex-grow: 1;
  }
}
</style>
