<template>
  <div class="mt-6">
    <VContainer>
      <VRow justify="center">
        <span v-if="$route.query.unapproved">
          Для того щоб отримати доступ до лабораторних робіт, будь-ласка,
          пришліть одну із своїх
        </span>
      </VRow>
    </VContainer>
    <FormUploadLab />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import FormUploadLab from '@/components/containers/FormUploadLab'

export default {
  name: 'PageUpload',
  components: {
    FormUploadLab,
  },
  data() {
    return {
      showUnapprovedMessage: false,
    }
  },
  computed: {
    ...mapGetters({
      isApproved: 'auth/isApproved',
    }),
  },
}
</script>
