<template>
  <div v-if="specialties">
    <Search />
    <VContainer class="mt-4">
      <LabList :labs="tasks" />
    </VContainer>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Search from '@/components/containers/Search'

import LabList from '@/components/common/LabList'

export default {
  name: 'PageHome',
  components: { LabList, Search },
  computed: {
    ...mapState('data', {
      specialties: 'specialties',
    }),
    ...mapState('search', {
      tasks: 'tasks',
    }),
  },
}
</script>
