<template>
  <VCard class="ma-2 d-flex flex-column">
    <VCardTitle>
      <VHover #default="{ hover }">
        <RouterLink
          :to="link"
          class="black--text"
          :class="{ 'text-decoration-none': !hover }"
        >
          {{ lab.title }}
        </RouterLink>
      </VHover>
    </VCardTitle>
    <VCardSubtitle class="mt-1">
      <VIcon left>mdi-school</VIcon>
      {{ shownSubject }}, {{ shownSpecialty }}, {{ shownFaculty }}
    </VCardSubtitle>
    <VCardActions class="py-2 mt-auto">
      <VRow justify="space-between" align="center" no-gutters>
        <VCol class="py-2">
          <VListItem class="pl-2">
            <VListItemAvatar color="primary">
              <VIcon color="white">mdi-account</VIcon>
            </VListItemAvatar>
            <VListItemContent>
              <VListItemTitle>{{ lab.username }}</VListItemTitle>
            </VListItemContent>
          </VListItem>
        </VCol>
        <VCol class="py-2" cols="auto">
          <VBtn text @click="likeLab">
            <VIcon :color="isLiked ? 'success' : ''" left>mdi-thumb-up</VIcon>
            {{ likesCount }}
          </VBtn>
          <VDialog v-model="sendReportFormVisible" max-width="600px">
            <template #activator="{ attrs, on }">
              <VBtn v-bind="attrs" text v-on="on">
                <VIcon>mdi-flag</VIcon>
              </VBtn>
            </template>
            <VCard>
              <VCardTitle>Поскаржитися</VCardTitle>
              <VCardText>
                <FormSendReport
                  @submit="closeSendReportForm"
                  @cancel="closeSendReportForm"
                />
              </VCardText>
            </VCard>
          </VDialog>
        </VCol>
      </VRow>
    </VCardActions>
  </VCard>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import { likeTask } from '@/api/data'

import FormSendReport from '@/components/containers/FormSendReport'

export default {
  name: 'LabCard',
  components: {
    FormSendReport,
  },
  props: {
    lab: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      sendReportFormVisible: false,
    }
  },
  computed: {
    ...mapState('data', {
      faculties: 'faculties',
      specialties: 'specialties',
      subjects: 'subjects',
    }),
    ...mapGetters({ userId: 'auth/userId', isApproved: 'auth/isApproved' }),
    link() {
      if (this.userId && this.isApproved) {
        return { name: 'lab', params: { id: this.lab.id } }
      } else if (this.userId && !this.isApproved) {
        return { name: 'upload', query: { unapproved: true } }
      } else {
        return { name: 'authorization' }
      }
    },
    likesCount() {
      return this.lab.likedIds.length
    },
    isLiked() {
      return this.lab.likedIds.includes(this.userId)
    },
    shownFaculty() {
      return this.faculties.find((faculty) => faculty.id === this.lab.faculty)
        .name
    },
    shownSpecialty() {
      return this.specialties.find(
        (specialty) => specialty.id === this.lab.specialty
      ).name
    },
    shownSubject() {
      return this.subjects.find((subject) => subject.id === this.lab.subject)
        .name
    },
  },
  methods: {
    closeSendReportForm() {
      this.sendReportFormVisible = false
    },
    likeLab() {
      this.isLiked
        ? (this.lab.likedIds = this.lab.likedIds.filter(
            (id) => id !== this.userId
          ))
        : this.lab.likedIds.push(this.userId)
      likeTask({ userId: this.userId, taskId: this.lab.id })
    },
  },
}
</script>
