<template>
  <transition name="fade" mode="out-in">
    <VRow v-if="!isLoading" key="first">
      <VCol
        v-for="lab in labs"
        :key="lab.id"
        cols="12"
        sm="6"
        lg="4"
        xl="12"
        class="d-flex"
      >
        <LabCard class="flex-grow-1" :lab="lab" />
      </VCol>
    </VRow>

    <VRow v-else key="second">
      <VCol v-for="n in 9" :key="n" cols="12" sm="6" lg="4" xl="3">
        <VSkeletonLoader type="card" />
      </VCol>
    </VRow>
  </transition>
</template>

<script>
import { mapState } from 'vuex'

import LabCard from '@/components/common/LabCard'

export default {
  name: 'LabList',
  components: {
    LabCard,
  },
  props: {
    labs: {
      type: Array,
      required: true,
    },
  },
  computed: {
    ...mapState('data', {
      subjects: 'subjects',
    }),
    ...mapState('search', {
      isLoading: 'isLoading',
    }),
  },
}
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
