<template>
  <VApp>
    <VNavigationDrawer v-if="isNavVisible" app>
      <VList nav>
        <VListItem v-for="route in routes" :key="route.name" :to="route.path">
          <VListItemContent>
            <VListItemTitle>{{ route.name }}</VListItemTitle>
          </VListItemContent>
        </VListItem>
      </VList>
    </VNavigationDrawer>
    <VAppBar app dark class="app-bar" absolute color="primary">
      <VAppBarNavIcon @click="toggleNav" />
      <RouterLink :to="{ name: 'home' }" class="white--text">
        <VAppBarTitle>LabShare</VAppBarTitle>
      </RouterLink>

      <VSpacer />

      <VMenu v-if="userName" offset-y outlined>
        <template #activator="{ on, attrs }">
          <VBtn text v-bind="attrs" v-on="on">{{ userName }}</VBtn>
        </template>

        <VList>
          <VListItem link>
            <VListItemTitle @click="logout">Вийти</VListItemTitle>
          </VListItem>
        </VList>
      </VMenu>
    </VAppBar>
    <VMain>
      <div class="main">
        <router-view />
      </div>
    </VMain>
  </VApp>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      isNavVisible: false,
    }
  },
  computed: {
    ...mapGetters({
      userName: 'auth/userName',
    }),
    routes() {
      return [
        {
          name: 'Реєстрація',
          path: '/registration',
          render: !this.userName,
        },
        {
          name: 'Авторизація',
          path: '/authorization',
          render: !this.userName,
        },
        {
          name: 'Завантажити роботу',
          path: '/upload',
          render: true,
        },
      ].filter((route) => route.render)
    },
  },
  methods: {
    ...mapActions({
      fetchUser: 'auth/fetchUser',
      logout: 'auth/logout',
    }),
    toggleNav() {
      this.isNavVisible = !this.isNavVisible
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  display: flex;
  height: 100%;

  > * {
    flex-grow: 1;
  }
}
</style>
